.navbar {
    transition: all 0.3s ease;
}
.h2{
    margin-bottom: 15px;
}
  .grey-section {
    background-color: #beb9b9;
    padding: 50px 0;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.grey-section p {
    margin-left: 15px;
    margin-right: 15px;
}
.navbar-nav .nav-link {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 5px 10px;
}
.navbar-nav .nav-link:first-child {
    margin-top: 5px;
}

/* Custom background color for menu elements on mobile view */
@media (max-width: 767.98px) {
    .navbar-nav .nav-link {
        background-color: #19c189;
    }

    
}


    
}